
<form action="/" method="post">
   
    <h1 class="p-6 card fw-bold text-center mt-5 p-3"> OOPS...... Sorry Page Not Found !!</h1>
    <div class="card" style= "text-align:center;">
 <h4> <img src="/images/pagenotfound.jpg" /></h4>

 <button href ="/"class="btn btn-success btn-lg btn-block  text  m-2">Back to Home</button>